<IfModule mod_rewrite.c>
    RewriteEngine On

    # Eğer istenen dosya veya klasör varsa doğrudan göster
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Diğer tüm istekleri index.php'ye yönlendir
    RewriteRule ^ index.php [L]
</IfModule>
